body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgb(190, 197, 201), rgb(134, 146, 214));
}

details {
    top: 80px;
    word-wrap: break-word;
    position: fixed;
    display: flex;
    z-index: 200000000000;
}

details:focus {
    transform-origin: center;
}

header {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

::-webkit-scrollbar {
    width: 1px;
}

#memory {
    position: relative;
}

#memory-header {
    margin-top: auto;
}

#memory-content {
    overflow: scroll;
    height: 250px;
    width: 235px;
    zoom: 1.5;
}

.container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.calculator {
    position: relative;
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    zoom: 1.5;
}

:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

button:active {
    background-color: #ccc;
}

button.double {
    grid-column: span 2;
}

button.triple {
    grid-column: span 3;
    background-color: #fd1108;
    color: #FFF;
}

button.triple:active {
    background-color: #fd1108cc;
}

button.operation {
    background-color: #fa8231;
    color: #FFF;
}

button.operation:active {
    background-color: #fa8231cc;
}

.display {
    grid-column: span 4;
    background-color: #0004;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}