/* 

body {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgb(190, 197, 201), rgb(134, 146, 214));
}

header {
    top: 0;
    position: relative;
}

ul {
    margin-top: auto;
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    display: table-cell;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

li::after, li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

li:only-child::after, li:only-child::before {
    display: none;
}

li:only-child {
    padding-top: 0;
}


li:first-child::before, li:last-child::after {
    border: 0 none;
}

li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}


::-webkit-scrollbar {
    width: 1px;
}

.tab1 {
    position: relative;
    margin-top: 150px;
    overflow: scroll;
    height: 320px;
    width: 235px;
    zoom: 1.5;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.tab2 {
    margin-top: 100px;
    position: relative;
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    zoom: 1.5;
}

:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}




*/